<h1> Hello <b>{{profile.name }}</b> your clipboards</h1>
<button mat-raised-button (click)="logOut()">LogOut</button>
<button mat-fab (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile *ngFor="let card of clipBoardItems">
    <mat-card style="background-color: lightblue" appearance="outlined">
      <mat-card-header>
        <mat-card-title> {{card.value}} </mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
      <mat-card-footer>{{card.createdatetime}}
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>